body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

input[type=text] {
    width: 300px;
    padding: 15px;
    font-size: 1.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 1.3em;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    width: 150px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    cursor: default;
}

.copied {
    background-color: #28a745 !important;
    color: white;
}
